
<!DOCTYPE html>
<html>
<head>
  <title>Tastemaker</title>
  <link href="/assets/application.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/admins.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/home.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/subscribers.css?body=1" media="all" rel="stylesheet" />
<link href="/assets/users.css?body=1" media="all" rel="stylesheet" />
  <script src="/assets/jquery.js?body=1"></script>
<script src="/assets/jquery_ujs.js?body=1"></script>
<script src="/assets/admins.js?body=1"></script>
<script src="/assets/home.js?body=1"></script>
<script src="/assets/subscribers.js?body=1"></script>
<script src="/assets/users.js?body=1"></script>
<script src="/assets/application.js?body=1"></script>
  <meta content="authenticity_token" name="csrf-param" />
<meta content="D/GuW5tgpkyLb2lJyzICfZBtVOtBxycbrBSIqFRVTd8=" name="csrf-token" />

<!-- template head-tag stuff -->
    <meta charset="utf-8">
    <title>Tastemaker - Taste the World</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel='stylesheet' id='prettyphoto-css'  href="/css/prettyPhoto.css" type='text/css' media='all'>
    <link href="/css/fontello.css" type="text/css" rel="stylesheet">
    <!--[if lt IE 7]>
            <link href="css/fontello-ie7.css" type="text/css" rel="stylesheet">
        <![endif]-->
    <!-- Google Web fonts -->
    <link href='https://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!-- fonts added after template -->
    <link href='https://fonts.googleapis.com/css?family=Numans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Londrina+Shadow' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>



    <style>
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <!-- Load ScrollTo -->
    <script type="text/javascript" src="js/jquery.scrollTo-1.4.2-min.js"></script>
    <!-- Load LocalScroll -->
    <script type="text/javascript" src="js/jquery.localscroll-1.2.7-min.js"></script>


      <!-- prettyPhoto Initialization -->
    <!-- <script type="text/javascript" charset="utf-8">
          $(document).ready(function(){
            $("a[rel^='prettyPhoto']").prettyPhoto();
          });
    </script>

<!-- template head-tag stuff end -->


</head>




<!--******************** NAVBAR ********************-->
    <div class="navbar-wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
            <h1 class="brand">

              <%= link_to(Tastemaker, root_path) %>
            </h1>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <nav class="pull-right nav-collapse collapse">
              <ul id="menu-main" class="nav">
                <li>New User Sign-In</li>

              </ul>
            </nav>
          </div>
          <!-- /.container -->
        </div>
        <!-- /.navbar-inner -->
      </div>
      <!-- /.navbar -->
    </div>
    <!-- /.navbar-wrapper -->


          <!--main content -->
    <div class="body_stuff">
          <h2>Sign in</h2>

              <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                <div><%= f.label :email %><br />
                <%= f.email_field :email, :autofocus => true %></div>

                <div><%= f.label :password %><br />
                <%= f.password_field :password %></div>

                <% if devise_mapping.rememberable? -%>
                  <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
                <% end -%>

                <div><%= f.submit "Sign in" %></div>

                <i>
                  * * *<Br>
                  for demonstration purposes -<Br>
                  login: demo@demo.com<Br>
                  password: demodemo<Br>
                  * * *
                </i>

              <% end %>

              <%= render "devise/shared/links" %>

    </div>



<script>

</script>


